langchain
langgraph
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchain-pinecone
pinecone
openai
PyMuPDF
python-dotenv
pypdf
fastapi
uvicorn[standard]
pydantic
python-docx
python-multipart
openpyxl
pandas
python-pptx
markdown
beautifulsoup4
requests

# Image Processing & OCR
Pillow
easyocr
pytesseract
pdf2image
numpy